<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ifteam.affogatoman.addon.examplecommand"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14" />
	<uses-permission android:name="net.zhuoweizhang.mcpelauncher.ADDON"/>
    <application android:label="@string/app_name"
		android:hasCode="false">
		<meta-data
			android:name="net.zhuoweizhang.mcpelauncher.api.nativelibname"
			android:value="affoexamplecommand"/>
		<meta-data
			android:name="net.zhuoweizhang.mcpelauncher.api.targetmcpeversion"
			android:value="0.12.1" />
    </application>
</manifest> 
